<%= form_with model: [@test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= f.label :Вопрос %><br>
    <%= f.text_area :body %>
  </p>
  <%= f.submit %>
<% end %>
