<%= form_with url: sessions_path, local: true do |f| %>

  <p>
    <%= f.label :"e-mail" %><br>
    <%= f.email_field :email, autofocus: true, id: :user_email %>
  </p><br>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, id: :user_password %>
  </p><br>


  <%= f.submit 'Enter' %>

<% end %>
