<%= form_with model: @user, local: true do |f| %>
  <%= render 'shared/errors', resource: @user %>
  <p>
    <%= f.label :"e-mail" %><br>
    <%= f.email_field :email, autofocus: true, id: :user_email %>
  </p><br>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, id: :user_password %>
  </p><br>
  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <%= f.submit %>

<% end %>
