<h2><%= t('.pass', title: @test_passage.test.title) %>
  (<%= t('.quest', question_id: @test_passage.current_question_id)  %>
  <%= @test_passage.test.questions.count %>)</h2>
  <div class="progress">
    <%= content_tag :div,
                    "0%",
                    class: "progress-bar",
                    role: "progressbar",
                    style: "width: 0%",
                    'aria-valuenow': "0",
                    'aria-valuemin': "0",
                    'aria-valuemax': "100",
                    data: { count: @test_passage.test.questions.count} %>
  </div>
  <div id="test-passage">
  <%= render 'test_passage' %>
</div>
