<%= form_with model: [:admin, @test], local: true do |f| %>
  <%= render 'shared/errors', resource: @test %>
  <div class="form-group">
    <%= f.label :Название %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Уровень %><br>
    <%= f.number_field :level, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :Категория %><br>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: false %>
  </div>

  <%= f.submit class: "btn btn-primary btn-lg" %>

<% end %>
<br>
