<h2><%= t('.header') %></h2>
<table class="table table-striped">
  <tr>
    <th class="sort-by-title pointer"><%= t('.title') %>
        <i class="fa fa-sort-alpha-asc hide" aria-hidden="true"></i>
        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.qtty') %></th>
    <th colspan = "3"></th>
  </tr>
  <%= render @tests %>
</table>
<p><%= link_to t('.new'), new_admin_test_path %>  |
  <%= link_to 'Показать Gists', admin_gists_path %>
</p>
