<h2><%= t('.header') %></h2>
<table class="table table-striped">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.qtty') %></th>
    <th colspan = "3"></th>
  </tr>
  <%= render @tests %>
</table>
<p><%= link_to t('.new'), new_admin_test_path %>  |
  <%= link_to 'Показать Gists', admin_gists_path %>
</p>
