<h2><%= "Тест №#{params[:id]}" %></h2>
<%= "Уровень: #{@test.level}" %>

<% if @test.questions.count > 0 %>
<h3><%= "Вопросы к тесту" %></h3>
<table class="table table-striped">
  <tr>
    <th>Название вопроса</th>
    <th colspan = "2"></th>
  </tr>

  <%= render @test.questions %>
</table>
<% else %>
<h3><%= 'В тесте пока нет вопросов. Вы можете создать вопрос при помощи формы' %></h3>
<% end %>
<br>
<%= link_to 'Редактировать тест', edit_admin_test_path(@test) %> | 
<%= link_to 'Создать вопрос', new_admin_test_question_path(@test) %> |
<%= link_to "К списку тестов", admin_tests_path %>
