<tr>
  <td><%= link_to test.title, test_path(test) %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to 'Редактировать', edit_test_path(test) %>
  <td><%= link_to 'Удалить',
                  test_path(test),
                  method: :delete,
                  data: { confirm: 'Точно удалить? Будут удалены все всязанные с тестом вопросы'} %>
</tr>
