<h2><%= t('.header') %></h2>
<table class="table table-striped">
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.qtty') %></th>
    <th></th>
  </tr>
  <%= render @tests %>
</table>
